In [19]:
# !pip install pandas numpy scikit-learn
!pip install tqdm

Collecting tqdm
  Using cached tqdm-4.65.0-py3-none-any.whl (77 kB)
Requirement already satisfied: colorama in d:\work\virtual\nmbits-vk-graph\venv\lib\site-packages (from tqdm) (0.4.6)
Installing collected packages: tqdm
Successfully installed tqdm-4.65.0

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics import mean_squared_error

# Загрузка данных

В бейзлайне реализована простейшая модель на эго-графе.

Для каждой пары вершин u и v эго-графа попытаемся найти всех общих "друзей" w. Силой связи между вершинами u и v будем считать средную силу связи между ними и общими друзьями.

Поскольку обучение для такой модели не требуется, будем пользоваться только тестовой выборкой.

In [23]:
%%time

test = pd.read_csv("data/test.csv")
submission = pd.read_csv("data/submission.csv")

CPU times: total: 14.9 s
Wall time: 14.9 s

In [20]:
test.head()

   ego_id    u    v      t            x1   x2   x3
0       8   20   19  185.7  3.839089e-04  0.0  0.0
1       8  131  125  161.4  4.034464e-01  0.0  0.0
2       8   73   56  127.0  8.554643e-05  0.0  0.0
3       8    0    4  594.5  2.886418e-01  0.0  0.0
4       8   63   73  127.0  4.281692e-07  0.0  0.0

In [21]:
submission.head(100)

    ego_id    u    v        x1
0        8    0   93  0.000000
1        8    0  143  0.000000
2        8    0  151  1.606742
3        8    1   24  0.026496
4        8    5    4  0.159857
..     ...  ...  ...       ...
95      28  122  229  0.525159
96      28  123  110  0.009399
97      28  126  116  0.117795
98      28  130   92  0.070024
99      28  130  173  0.233055

[100 rows x 4 columns]

In [ ]:
# get graph

for u, v in zip(submission_ego_net["u"], submission_ego_net["v"]):
    if

Проверочные данные - недоступны участникам, используются для подсчёта метрики:

In [7]:
control = pd.read_csv("data/control.csv")

Таблицы control и submission отличаются только последним столбцом x1. В таблице control в этом столбце содержатся истинные значения связей x1.

In [8]:
control[["ego_id", "u", "v"]].equals(submission[["ego_id", "u", "v"]])

True

Таблица submission отсортирована по возрастанию ego_id, u, v:

In [9]:
submission.equals(submission.sort_values(["ego_id", "u", "v"]))

True

In [10]:
submission.head()

   ego_id  u    v        x1
0       8  0   93  0.000000
1       8  0  143  0.000000
2       8  0  151  1.606742
3       8  1   24  0.026496
4       8  5    4  0.159857

# Модель

In [11]:
submission["ego_id"].value_counts()

ego_id
901943132599     349
721554506143     328
1400159338751    298
1039382085802    270
575525618423     262
                ...
1142461301166      1
515396076193       1
515396076373       1
51539608193        1
1245540516719      1
Name: count, Length: 20586, dtype: int64

Константное предсказание:

In [12]:
%%time

submission_dummy = submission.copy()
submission_dummy["x1"] = np.nanmean(test["x1"].values)

CPU times: total: 281 ms
Wall time: 290 ms

In [13]:
df = pd.DataFrame()
df['u'] = np.array([1, 2, 3, 4])
df['x1'] = np.array([10, 10, 10, 10])


df1 = pd.DataFrame()
df1['u'] = np.array([2, 3, 4])
df1['x1'] = np.array([19, 19, 19])


t = df1.merge(df, on='u')
np.mean(t.drop("u", axis=1).values, axis = None)

14.5

In [14]:
%%time

from tqdm import tqdm


ego_id_list = submission["ego_id"].drop_duplicates().values
for ego_id in tqdm(ego_id_list):
    submission_ego_net = submission[submission["ego_id"] == ego_id]
    test_ego_net = test[test["ego_id"] == ego_id]
    friendship = np.zeros_like(submission_ego_net["x1"].values)
    for i, (u, v) in enumerate(zip(submission_ego_net["u"], submission_ego_net["v"])):
        u_x1 = test_ego_net.loc[test_ego_net["u"] == u, ["v", "x1"]].dropna()
        v_x1 = test_ego_net.loc[test_ego_net["u"] == v, ["v", "x1"]].dropna()
        common_friends = u_x1.merge(v_x1, on="v")
        if common_friends.shape[0] > 0:
            friendship[i] = np.mean(common_friends.drop("v", axis=1).values)
    submission.loc[submission["ego_id"] == ego_id, "x1"] = friendship

100%|████████████████████████████████████████████████████████████████████████████| 20586/20586 [40:35<00:00,  8.45it/s]

CPU times: total: 40min 38s
Wall time: 40min 35s

# Посчёт метрик

In [15]:
def RMSE(y_true, y_pred):
    return mean_squared_error(y_true, y_pred, squared=False)

In [16]:
print("Dummy model RMSE: {}".format(RMSE(control["x1"], submission_dummy["x1"])))

Dummy model RMSE: 0.9073352538252178

In [17]:
print("Baseline model RMSE: {}".format(RMSE(control["x1"], submission["x1"])))

Baseline model RMSE: 1.440427694215907e-07

In [18]:
submission.head()

   ego_id  u    v        x1
0       8  0   93  0.000000
1       8  0  143  0.000000
2       8  0  151  1.606742
3       8  1   24  0.026496
4       8  5    4  0.159857

In [19]:
submission.to_csv('nmbits.csv')