In [13]:
import pandas as pd
import numpy as np
import torch
import dgl

from scipy.sparse import coo_matrix

from sklearn.metrics import mean_squared_error

# Загрузка данных

В бейзлайне реализована простейшая модель на эго-графе.

Для каждой пары вершин u и v эго-графа попытаемся найти всех общих "друзей" w. Силой связи между вершинами u и v будем считать средную силу связи между ними и общими друзьями.

Поскольку обучение для такой модели не требуется, будем пользоваться только тестовой выборкой.

In [11]:
%%time

data = pd.read_csv("data/train.csv")
submission = pd.read_csv("data/submission.csv")
attr = pd.read_csv("data/attr.csv")

CPU times: total: 49.2 s
Wall time: 49.2 s

**Разобьем на обучающие и тестовые данные**

In [6]:
sep = 854698492346
data_train, data_test = data[data['ego_id'] < sep], data[data['ego_id'] >= sep]

X_train, y_train = data_train.iloc[:, 0:-3], data_train.iloc[:, -3]
X_test, y_test = data_test.iloc[:, 0:-3], data_test.iloc[:, -3]

**dgl.graph**

In [21]:
WELL_KNOWN = 70

def format_t(x):
    return np.tanh(x / WELL_KNOWN)

In [26]:
src = X_train["u"].to_numpy()
dst = X_train["v"]

array([131, 135,  47, ...,  30,   3,   4], dtype=int64)

In [24]:
X_train

                ego_id    u    v      t
0                    0  131   84  148.0
1                    0  135  164  396.7
2                    0   47   15    NaN
3                    0    5    4  594.5
4                    0  176  219   45.5
...                ...  ...  ...    ...
61517082  850403525534   17    9    0.3
61517083  850403525534   26   25    0.3
61517084  850403525534   30   22    0.2
61517085  850403525534    3    1   51.7
61517086  850403525534    4    9    0.3

[61517087 rows x 4 columns]