In [2]:
import pandas as pd
import numpy as np

from sklearn.metrics import mean_squared_error

In [15]:
dt = pd.read_csv("data/test.csv")

In [46]:
dt[dt['t'].isna()].shape

(6247722, 7)

# Загрузка данных

В бейзлайне реализована простейшая модель на эго-графе.

Для каждой пары вершин u и v эго-графа попытаемся найти всех общих "друзей" w. Силой связи между вершинами u и v будем считать средную силу связи между ними и общими друзьями.

Поскольку обучение для такой модели не требуется, будем пользоваться только тестовой выборкой.

In [10]:
%%time

data = pd.read_csv("data/train.csv")
attributes = pd.read_csv("data/attr.csv")
submission = pd.read_csv("data/submission.csv")

CPU times: total: 49.5 s
Wall time: 49.5 s

In [71]:
attributes.head()

   ego_id    u  age    city_id  sex     school  university
0       0  227   68         -1    1  778293348          -1
1       0   45   38  237065842    1   82803468   238500268
2       0  142   60  237065842    1  196560139          -1
3       0  280   66         -1    2  963209731   720783270
4       0   41   18         -1    2  308862409          -1

In [72]:
# generate cpp file
result = []
for j in zip(*[attributes[i][:100] for i in attributes.keys()]):
    print(j)
    result.append(j)
with open('cpp_attributes')
# for i in attributes:

(0, 227, 68, -1, 1, 778293348, -1)
(0, 45, 38, 237065842, 1, 82803468, 238500268)
(0, 142, 60, 237065842, 1, 196560139, -1)
(0, 280, 66, -1, 2, 963209731, 720783270)
(0, 41, 18, -1, 2, 308862409, -1)
(0, 284, 30, 515825832, 2, 523273865, 219762299)
(0, 39, 107, -1, 2, -1, -1)
(0, 204, 21, 298413605, 1, -1, 70724144)
(0, 224, 21, 298413605, 1, -1, -1)
(0, 138, 43, 238321946, 1, 551175147, 359213661)
(0, 24, 42, -1, 1, 305311702, 720787027)
(0, 271, 52, -1, 2, -1, -1)
(0, 102, 30, 515825832, 1, 249333954, 894086074)
(0, 129, 62, 237065842, 2, 217222933, -1)
(0, 188, 21, 237065842, 2, -1, 149014508)
(0, 218, 35, 237065842, 2, 532789710, 66999397)
(0, 270, 25, 720792568, 2, -1, -1)
(0, 52, 49, 238321946, 1, 829727092, 991369526)
(0, 68, 50, 237065842, 1, 682233918, 532275706)
(0, 287, 78, 237065842, 2, 497266803, -1)
(0, 209, 22, 237065842, 2, 75365905, 149014508)
(0, 51, 43, 237065842, 1, 829727092, 991369526)
(0, 30, 30, 237065842, 1, 639658522, 310894832)
(0, 144, 32, 237065842, 1, -1, -1)
(0, 177, 23, 237065842, 1, 284205333, 149014508)
(0, 222, 24, 122329603, 2, 843263847, 70049556)
(0, 197, 21, 89878857, 1, -1, 525603010)
(0, 159, 16, 237065842, 2, 996782138, 193607289)
(0, 298, 48, 529466071, 2, -1, -1)
(0, 95, 120, 237065842, 2, -1, -1)
(0, 6, 30, 237065842, 1, 205429743, 62501167)
(0, 98, 55, 237065842, 1, 71596531, 606197712)
(0, 286, 30, 237065842, 2, 270162662, 66999397)
(0, 247, 39, -1, 2, -1, -1)
(0, 71, 45, 237065842, 1, 363901889, 869698893)
(0, 77, 44, 237065842, 2, 905956162, 781177901)
(0, 181, 28, -1, 2, -1, -1)
(0, 279, 33, 237065842, 1, 9694743, 815498626)
(0, 241, 21, -1, 1, -1, -1)
(0, 46, 43, 237065842, 2, -1, 912585428)
(0, 69, 17, 237065842, 1, -1, -1)
(0, 118, 41, -1, 1, 743047950, -1)
(0, 254, 43, 505098895, 2, 219310260, -1)
(0, 64, 38, 237065842, 1, -1, 921792091)
(0, 84, 50, 237065842, 1, 182400947, 310894832)
(0, 165, 14, 515825832, 1, 539356769, 991369526)
(0, 191, 21, 298413605, 2, -1, -1)
(0, 201, 22, 237065842, 1, 67095891, -1)
(0, 100, 42, 237065842, 1, 836432614, 823251435)
(0, 140, 62, 237065842, 1, -1, 772187099)
(0, 149, 52, 237065842, 1, 483127110, 543018473)
(0, 178, -1, 238321946, 1, 234476915, 991369526)
(0, 67, 23, 515825832, 1, -1, 831954113)
(0, 90, 45, 237065842, 1, -1, 212083796)
(0, 205, 44, 583984465, 1, 423469301, 991369526)
(0, 66, 34, 237065842, 1, 897631432, 541978296)
(0, 145, 43, 238321946, 1, 468759098, 991369526)
(0, 150, 22, 237065842, 1, -1, -1)
(0, 113, 23, 237065842, 1, 2552673, 325925770)
(0, 166, 41, 238321946, 1, 364843484, 991369526)
(0, 176, 21, 237065842, 1, 967669435, 149014508)
(0, 4, 40, -1, 2, 829727092, 541978296)
(0, 58, 30, 237065842, 1, 356940751, 335777948)
(0, 75, 38, 237065842, 1, 589595521, 188886628)
(0, 105, 44, 237065842, 1, -1, 991369526)
(0, 107, 43, 238321946, 1, 31138932, 991369526)
(0, 128, 44, 637930249, 1, 529723305, 991369526)
(0, 253, 14, 237065842, 1, -1, -1)
(0, 112, 28, 237065842, 1, 646143676, 836217893)
(0, 285, 30, 237065842, 2, 287804418, -1)
(0, 57, 73, -1, 1, 894474489, -1)
(0, 275, 53, 515825832, 2, 537843360, -1)
(0, 126, 44, 238321946, 1, -1, -1)
(0, 0, 43, 237065842, 1, -1, -1)
(0, 132, 31, 298413605, 2, 480571368, 903937667)
(0, 143, 49, 237065842, 1, 770359202, -1)
(0, 22, 33, 237065842, 2, 7900518, -1)
(0, 242, 21, -1, 2, -1, 98377478)
(0, 296, 35, 237065842, 2, -1, -1)
(0, 299, 48, 515825832, 2, -1, -1)
(0, 154, 40, 237065842, 2, 542665184, -1)
(0, 47, 41, -1, 2, -1, -1)
(0, 48, 49, 237065842, 1, -1, 141216027)
(0, 15, 42, 237065842, 2, 434584929, 240636691)
(0, 19, 50, 237065842, 1, -1, -1)
(0, 111, 34, -1, 2, 698166686, 74358164)
(0, 259, 21, 237065842, 1, -1, -1)
(0, 264, 50, 237065842, 1, -1, 815498626)
(0, 110, 44, 237065842, 1, 640255628, -1)
(0, 28, 38, 237065842, 1, 970055723, 114941845)
(0, 62, 23, 237065842, 1, 986417317, 149014508)
(0, 148, 58, 237065842, 2, 743042029, 194788625)
(0, 117, 46, 979159080, 2, -1, 150135841)
(0, 94, 63, 237065842, 1, 12969477, 836217893)
(0, 131, 62, 237065842, 1, -1, -1)
(0, 172, 29, 237065842, 1, 778293348, -1)
(0, 260, 24, 237065842, 2, -1, 149014508)
(0, 73, 42, 237065842, 1, 430811029, 66999397)
(0, 121, 29, 237065842, 2, 800051075, -1)
(0, 163, 44, 238321946, 1, 687438415, 991369526)

In [60]:
def generate_cpp_files():
    cpp_attributes = attributes.copy()
    cpp_attributes
generate_cpp_files()

In [59]:
attributes[attributes['university'].isna()]

Empty DataFrame
Columns: [ego_id, u, age, city_id, sex, school, university]
Index: []

In [23]:
submission.head()

   ego_id  u    v        x1
0       8  0   93  0.000000
1       8  0  143  0.000000
2       8  0  151  1.606742
3       8  1   24  0.026496
4       8  5    4  0.159857

**Разобьем на обучающие и тестовые данные**

In [22]:
submission[submission['ego_id'] == 0].head()

Empty DataFrame
Columns: [ego_id, u, v, x1]
Index: []

In [5]:
sep = 854698492346
data_train, data_test = data[data['ego_id'] < sep], data[data['ego_id'] >= sep]

X_train, y_train = data_train.iloc[:, 0:-3], data_train.iloc[:, -3]
X_test, y_test = data_test.iloc[:, 0:-3], data_test.iloc[:, -3]

In [14]:
# attributes.head()
data_train['t']

0           148.0
1           396.7
2             NaN
3           594.5
4            45.5
            ...
61517082      0.3
61517083      0.3
61517084      0.2
61517085     51.7
61517086      0.3
Name: t, Length: 61517087, dtype: float64

**Для визуализации графа**

In [19]:
def draw_graph():
    t = data[data['ego_id']==1709396984692]
    t.shape
    for i in zip(t['u'], t['v']):
        print(i[0], '-', i[1], sep='')
draw_graph()

5-1
14-3
7-5
5-7
6-5
16-11
2-15
11-16
0-12
7-8
5-8
15-4
3-8
12-9
2-3
1-4
8-4
0-2
0-3
2-4
4-15
11-12
8-11
7-6
11-0
4-5
0-1
4-16
0-9
2-8
6-11
3-4
7-1
4-2
11-8
12-8
11-9
5-4
0-6
12-2
7-11
11-6
4-11
0-7
9-10
0-18
7-3
10-0
10-11
14-6
2-6
5-16
16-5
0-11
2-12
16-7
5-6
18-0
14-7
15-5
10-9
3-6
10-8
8-12
14-0
5-0
16-15
8-5
5-3
15-0
16-6
1-6
11-4
15-3
0-15
2-14
15-2
7-4
4-7
1-8
8-1
11-7
9-0
0-10
0-8
2-5
0-14
3-0
8-0
0-4
3-5
1-5
1-7
5-11
3-1

In [24]:
submission.head(100)

    ego_id    u    v        x1
0        8    0   93  0.000000
1        8    0  143  0.000000
2        8    0  151  1.606742
3        8    1   24  0.026496
4        8    5    4  0.159857
..     ...  ...  ...       ...
95      28  122  229  0.525159
96      28  123  110  0.009399
97      28  126  116  0.117795
98      28  130   92  0.070024
99      28  130  173  0.233055

[100 rows x 4 columns]

In [ ]:
# get graph

for u, v in zip(submission_ego_net["u"], submission_ego_net["v"]):
    if

Проверочные данные - недоступны участникам, используются для подсчёта метрики:

Таблицы control и submission отличаются только последним столбцом x1. В таблице control в этом столбце содержатся истинные значения связей x1.

In [8]:
control[["ego_id", "u", "v"]].equals(submission[["ego_id", "u", "v"]])

True

Таблица submission отсортирована по возрастанию ego_id, u, v:

In [9]:
submission.equals(submission.sort_values(["ego_id", "u", "v"]))

True

In [10]:
submission.head()

   ego_id  u    v        x1
0       8  0   93  0.000000
1       8  0  143  0.000000
2       8  0  151  1.606742
3       8  1   24  0.026496
4       8  5    4  0.159857

# Модель

In [11]:
submission["ego_id"].value_counts()

ego_id
901943132599     349
721554506143     328
1400159338751    298
1039382085802    270
575525618423     262
                ...
1142461301166      1
515396076193       1
515396076373       1
51539608193        1
1245540516719      1
Name: count, Length: 20586, dtype: int64

Константное предсказание:

In [12]:
%%time

submission_dummy = submission.copy()
submission_dummy["x1"] = np.nanmean(test["x1"].values)

CPU times: total: 281 ms
Wall time: 290 ms

In [13]:
df = pd.DataFrame()
df['u'] = np.array([1, 2, 3, 4])
df['x1'] = np.array([10, 10, 10, 10])


df1 = pd.DataFrame()
df1['u'] = np.array([2, 3, 4])
df1['x1'] = np.array([19, 19, 19])


t = df1.merge(df, on='u')
np.mean(t.drop("u", axis=1).values, axis = None)

14.5

In [14]:
%%time

from tqdm import tqdm


ego_id_list = submission["ego_id"].drop_duplicates().values
for ego_id in tqdm(ego_id_list):
    submission_ego_net = submission[submission["ego_id"] == ego_id]
    test_ego_net = test[test["ego_id"] == ego_id]
    friendship = np.zeros_like(submission_ego_net["x1"].values)
    for i, (u, v) in enumerate(zip(submission_ego_net["u"], submission_ego_net["v"])):
        u_x1 = test_ego_net.loc[test_ego_net["u"] == u, ["v", "x1"]].dropna()
        v_x1 = test_ego_net.loc[test_ego_net["u"] == v, ["v", "x1"]].dropna()
        common_friends = u_x1.merge(v_x1, on="v")
        if common_friends.shape[0] > 0:
            friendship[i] = np.mean(common_friends.drop("v", axis=1).values)
    submission.loc[submission["ego_id"] == ego_id, "x1"] = friendship

100%|████████████████████████████████████████████████████████████████████████████| 20586/20586 [40:35<00:00,  8.45it/s]

CPU times: total: 40min 38s
Wall time: 40min 35s

# Посчёт метрик

In [15]:
def RMSE(y_true, y_pred):
    return mean_squared_error(y_true, y_pred, squared=False)

In [16]:
print("Dummy model RMSE: {}".format(RMSE(control["x1"], submission_dummy["x1"])))

Dummy model RMSE: 0.9073352538252178

In [17]:
print("Baseline model RMSE: {}".format(RMSE(control["x1"], submission["x1"])))

Baseline model RMSE: 1.440427694215907e-07

In [18]:
submission.head()

   ego_id  u    v        x1
0       8  0   93  0.000000
1       8  0  143  0.000000
2       8  0  151  1.606742
3       8  1   24  0.026496
4       8  5    4  0.159857

In [19]:
submission.to_csv('nmbits.csv')